<div class="container">
  <div class="row">
    <div class="col-7 offset-2">
      <div class="input-group p-3 mb-5 mt-4">
        <input type="text" class="form-control" placeholder="Search Anything you need">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" style="border-radius: 0;">All Categories</button>
          <button style="cursor: pointer;" class="btn btn-primary"><i class="fas fa-search text-grey" aria-hidden="true"></i> Search</button>
        </div>
      </div>
    </div>
  </div>
</div>


