<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 p-0">
  <div class="container-fluid">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

      <ul class="navbar-nav" >
        <li class="nav-item dropdown m-1 mr-4">
          <a class="nav-link dropdown-toggle make_pointer" data-toggle="dropdown" data-hover="dropdown">Categories</a>
          <ul class="dropdown-menu">
            <app-nav-bar-dropdown-item *ngFor="let category of (MainPageState$ | async).Categories" [category]="category"></app-nav-bar-dropdown-item>
          </ul>
        </li>
        <li class="nav-item m-1 mr-4">
          <a class="nav-link btn" data-placement="top" routerLinkActive="active" routerLink="/main/dashboard"  [ngClass]="{ 'disabled': (AuthState$|async).userStatus === 'guest' }" >User Dashboard</a>
        </li>
        <li class="nav-item m-1 mr-4">
          <a class="nav-link btn" href="#" [ngClass]="{ 'disabled': (AuthState$|async).userStatus === 'guest' }">Messages</a>
        </li>
        <li class="nav-item m-1 mr-4">
          <a class="nav-link btn" href="#" routerLink="/main/newAuction" routerLinkActive="active" [ngClass]="{ 'disabled': (AuthState$|async).userStatus === 'guest' }">New Auction</a>
        </li>
      </ul>
      <div class="login_buttons mr-3">

        <div *ngIf="(AuthState$ |async).userStatus === 'guest'">
          <button class="btn btn-outline-dark  m-1" type="button" (click)="OpenModal(SingIn)">Login<i class="fa fa-user m-1"></i></button>
          <button class="btn btn-outline-dark m-1" type="button" (click)="OpenModal(SignUp)">Singup<i class="fa fa-user-plus m-1"></i></button>
        </div>


        <div *ngIf="(AuthState$ | async).userStatus === 'user'">
          <button class="btn btn-outline-dark  m-1" type="button" (click)="Logout()">Logout<i class="fa fa-sign-out-alt m-1"></i></button>
        </div>
      </div>

    </div>

  </div>
</nav>



<ng-template #SingIn>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sing In</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-sing-in-form (LoginCompleted)="CloseModal()"></app-sing-in-form>
  </div>
</ng-template>


<ng-template #SignUp>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sing Up</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-sign-up-form ></app-sign-up-form>
  </div>
</ng-template>
