<div class="container-fluid">
  <div class="row">

    <div class="col-12" *ngIf="(auth$|async).userStatus==='guest'">
      <div class="alert alert-secondary">
        <small>
          You are logged in as a guest. Please create an account or log in as a user to make a bid</small>
      </div>
    </div>

    <div class="left-col col-lg-3">

      <div class="thumbs">
        <a class="thumb-image active" href="../../../assets/item_images/rhodes.jpg" data-index="0">
          <span><img src="../../../assets/item_images/rhodes.jpg" alt="Tommy Hilfiger T-Shirt New York"></span>
        </a>
        <a class="thumb-image" href="//cdn.shopify.com/s/files/1/1047/6452/products/tricko1_1024x1024.jpg?v=1447104179" data-index="1">
          <span><img src="//cdn.shopify.com/s/files/1/1047/6452/products/tricko1_150x150.jpg?v=1447104179" alt="Tommy Hilfiger T-Shirt New York"></span>
        </a>
        <a class="thumb-image" href="//cdn.shopify.com/s/files/1/1047/6452/products/tricko2_1024x1024.jpg?v=1447104180" data-index="2">
          <span><img src="//cdn.shopify.com/s/files/1/1047/6452/products/tricko2_150x150.jpg?v=1447104180" alt="Tommy Hilfiger T-Shirt New York"></span>
        </a>
        <a class="thumb-image" href="//cdn.shopify.com/s/files/1/1047/6452/products/tricko3_1024x1024.jpg?v=1447104182" data-index="3">
          <span><img src="//cdn.shopify.com/s/files/1/1047/6452/products/tricko3_150x150.jpg?v=1447104182" alt="Tommy Hilfiger T-Shirt New York"></span>
        </a>
      </div>

      <div class="big">
        <span id="big-image" class="img" style="background-image: url('../../../assets/item_images/rhodes.jpg')" data-src="../../../assets/item_images/rhodes.jpg"></span>
        <div id="banner-gallery" class="swipe">
          <div class="swipe-wrap">
            <div style="background-image: url('//cdn.shopify.com/s/files/1/1047/6452/products/product_large.png?v=1446769025')"></div>
            <div style="background-image: url('//cdn.shopify.com/s/files/1/1047/6452/products/tricko1_large.jpg?v=1447104179')"></div>
            <div style="background-image: url('//cdn.shopify.com/s/files/1/1047/6452/products/tricko2_large.jpg?v=1447104180')"></div>
            <div style="background-image: url('//cdn.shopify.com/s/files/1/1047/6452/products/tricko3_large.jpg?v=1447104182')"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="right-col col-lg-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{Item.name}}</h3>
          <h6 class="card-subtitle mb-2 text-muted">Posted 19-09-2019 19:54</h6>
          <hr>

          <div class="row bids">
            <div class="col-sm-2 col-4 pr-0 align-self-center">
              <p>Price:</p>
            </div>

            <div class="col-sm-10  col-8 pl-0">
              <h5 class="card-text text-muted">{{Item.currentBid}} &euro;</h5>
            </div>
          </div>



          <div class="row bids">
            <form (ngSubmit)="checkPrice(bid, PlaceBid)" class="input-group" #bid="ngForm">

              <div class="form-group col-md-5">
                <input
                  required ngModel
                  type="number"
                  class="form-control"
                  placeholder="Place Bid"
                  id="NewBid"
                  name="newBid">
              </div>

              <div class="col-md-7">
                <button type="submit" class="btn btn-primary btn-block"
                        [disabled]="!bid.valid || (auth$|async).userStatus==='guest'">Place Bid</button>
              </div>

              <div class="col-md-12">
                <small class="text-secondary">Number of Bids: {{Item.numberOfBids}}</small>
              </div>

            </form>
          </div>



          <div class="row bids" *ngIf="Item.buyPrice != null">

            <div class="col-12">
              <h4 class="text-secondary text-center" *ngIf="Item.buyPrice != null">OR</h4>
            </div>

            <div class="col-12">
              <button
                type="button"
                [disabled]="(auth$|async).userStatus==='guest'"
                class="btn btn-success btn-block"
                (click)="OpenModal(BuyNow)">
                Buy now at : {{Item.buyPrice}} &euro;
              </button>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-sm-3 col-4 pr-0 align-self-center">
              <h6>Located at: </h6>
            </div>

            <div class="col-sm-9 col-8">
              <h5>City Country</h5>
            </div>
          </div>

        </div>

        <div class="card-footer text-muted">
          <div class="col-12">
            <span class="badge badge-pill badge-primary" style="white-space: normal;">Ends at 26-12-2019 23:59</span>
          </div>
        </div>

      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5>Auction by: {{Item.seller.username}}</h5>
          <small>User Rating: </small>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          4.0 stars
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Information
        </div>
        <div class="card-body">
          <p class="card-text">{{Item.description}}</p>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->

<ng-template #PlaceBid>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Place Bid</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>You are trying to place a {{new_bid}} $ bid. Continue? </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="placeBid()">Confirm Bid</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="CloseModal()">Close</button>
  </div>
</ng-template>

<ng-template #BuyNow>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Buy Now</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="alert alert-dismissible alert-info">
      We need you to confirm the payment in order to complete your purchase.
    </div>
    <hr>
    <p>Item: {{Item.name}}</p>
    <hr>
    <p><b>Total: {{Item.buyPrice}} $</b></p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="buyNow()">Confirm Payment</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="CloseModal()">Close</button>
  </div>
</ng-template>
