<div class="container-fluid">
  <div class="row">

    <div class="left-col col-lg-3 mb-2">
      <div class="thumbs">
        <a
          class="thumb-image active"
          href="../../../assets/item_images/rhodes.jpg"
          data-index="0">
          <span>
            <img src="../../../assets/item_images/rhodes.jpg"
                 alt="Tommy Hilfiger T-Shirt New York">
          </span>
        </a>

        <a
          class="thumb-image"
          href="//cdn.shopify.com/s/files/1/1047/6452/products/tricko1_1024x1024.jpg?v=1447104179"
          data-index="1">
          <span>
            <img src="//cdn.shopify.com/s/files/1/1047/6452/products/tricko1_150x150.jpg?v=1447104179"
                 alt="Tommy Hilfiger T-Shirt New York">
          </span>
        </a>

        <a class="thumb-image"
           href="//cdn.shopify.com/s/files/1/1047/6452/products/tricko2_1024x1024.jpg?v=1447104180"
           data-index="2">
          <span>
            <img src="//cdn.shopify.com/s/files/1/1047/6452/products/tricko2_150x150.jpg?v=1447104180"
                 alt="Tommy Hilfiger T-Shirt New York">
          </span>
        </a>

        <a
          class="thumb-image"
          href="//cdn.shopify.com/s/files/1/1047/6452/products/tricko3_1024x1024.jpg?v=1447104182" data-index="3">
          <span>
            <img
              src="//cdn.shopify.com/s/files/1/1047/6452/products/tricko3_150x150.jpg?v=1447104182"
              alt="Tommy Hilfiger T-Shirt New York">
          </span>
        </a>

      </div>

      <div class="big">
        <span id="big-image" class="img" style="background-image: url('../../../assets/item_images/rhodes.jpg')" data-src="../../../assets/item_images/rhodes.jpg"></span>
        <div id="banner-gallery" class="swipe">
          <div class="swipe-wrap">
            <div
              style="background-image:
              url('//cdn.shopify.com/s/files/1/1047/6452/products/product_large.png?v=1446769025')"></div>
            <div style="background-image: url('//cdn.shopify.com/s/files/1/1047/6452/products/tricko1_large.jpg?v=1447104179')"></div>
            <div style="background-image: url('//cdn.shopify.com/s/files/1/1047/6452/products/tricko2_large.jpg?v=1447104180')"></div>
            <div style="background-image: url('//cdn.shopify.com/s/files/1/1047/6452/products/tricko3_large.jpg?v=1447104182')"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="right-col col-lg-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">My Super Piano</h3>
          <h6 class="card-subtitle my-2 text-muted">Posted 19-09-2019 19:54</h6>
          <hr>

          <div class="row bids">
            <div class="col-sm-2 col-3 pr-0">
              <p>Price:</p>
            </div>

            <div class="col-sm-8 col-9 p-0">
              <h5 class="card-text text-muted">400000 $</h5>
            </div>
          </div>

          <div class="row bids">
            <div class="form-group col-md-6 mb-1">
              <input type="number" class="form-control" placeholder="Place Bid" id="newbid">
            </div>

            <div class="col-md-6">
              <button type="button" class="btn btn-block btn-primary">Place Bid</button>
            </div>

            <div class="col-12">
              <small class="text-secondary p-2">Number of Bids: 400</small>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-12">
              <h4 class="text-secondary text-center">OR:</h4>
            </div>

            <div class="col-12">
              <button type="button" class="btn btn btn-block btn-success">Buy Now for 255</button>
            </div>
          </div>

          <div class="row mt-1">

            <div class="col-4 pr-0 mr-1 align-self-center">
              <h6>Located at: </h6>
            </div>

            <div class="col-7 pl-0">
              <h5>City, Country</h5>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-3">

          </div>
        </div>



        <div class="card-footer text-muted">
          <span class="badge badge-pill badge-primary col-3">Ends at 26-12-2019 23:59</span>
        </div>

      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5>Auction by: {{Item.seller.username}}</h5>
          <small>User Rating: </small>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          4.0 stars
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Information
        </div>
        <div class="card-body">
          <p class="card-text">{{Item.description}}</p>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->
