<div class="card-group">

  <div class="card">
    <img class="card-img-top" src="../../assets/category_images/tech.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Tech</h5>
      <p class="card-text">Make it so, starlight travelEcce.Clemens particulas ducunt ad vox.cubiculum
        classis
      </p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../../assets/category_images/clothing.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Clothing</h5>
      <p class="card-text">Make it so, starlight travelEcce.Clemens particulas ducunt ad vox.cubiculum
        classis
      </p>
    </div>
  </div>


  <div class="card">
    <img class="card-img-top" src="../../assets/category_images/house.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">House</h5>
      <p class="card-text">Make it so, starlight travelEcce.Clemens particulas ducunt ad vox.cubiculum
        classis
      </p>
    </div>
  </div>
</div>
