<div class="container-fluid">
  <div class="row">
    <div class="col-7 offset-2">

      <form (ngSubmit)="onSearch(query)"  class="input-group p-3 mb-5 mt-4" #query="ngForm">

        <input type="text" required ngModel class="form-control " id="SearchQuery" name="searchQuery" placeholder="Search Anything you need">

        <div class="input-group-append ">

              <select class="custom-select w-auto h-auto">
                <option value="All" selected="">All Categories</option>
                <optgroup label="-------------------"></optgroup>
                <option *ngFor="let category of (CategoriesObservable2 | async)" value="{{category.id}}">{{category.name}}</option>
              </select>

            <button style="cursor: pointer;" class="btn btn-primary w-auto h-auto" type="submit"><i class="fas fa-search text-grey" aria-hidden="true"></i> Search</button>

        </div>
      </form>
    </div>
  </div>
</div>


