<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="width:inherit">

  <div class="row">
    <div class="col-md-10">
      <div class="d-flex justify-content-start">
        <img class="card-img-top img-fluid" style="height: 80px; width: 80px;" src="{{Item.ImgPath}}" alt="">
        <h5>{{Item.Name}}</h5>
      </div>
      <p class="mb-1">Οθόνη: 6.3", RAM: 4GB, Χωρητικότητα: 64GB, Κάμερα: 48MP + 5MP, Selfie: 13MP, Πυρήνες CPU: 4+4</p>
    </div>

    <div class="col-md-2" style="border-left: 1px solid #a1aeb3;">
      <p>Last bid 100$</p>
      <small>3 days ago</small>
    </div>
  </div>
</a>
