<div class="container">

<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link text-primary" routerLinkActive="active" routerLink="auctions">Auctions</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-primary" routerLinkActive="active" routerLink="purchases">Purchases</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-primary" routerLinkActive="active" routerLink="bids">Bids</a>
      </li>
    </ul>


    <router-outlet></router-outlet>
  </div>
</div>


</div>

