<div class="container-fluid pr-5 pl-5">
  <div class="row">
    <div class="col-md-2 mt-3 mb-3" style="background-color: #f1f5f6;">
      <div class="filters mt-3">
        <h4 style="text-align: center; margin-bottom: 20px;">Filters</h4>
        <hr>

        <!-- filters -->
        <form (ngSubmit)="set_filters(filters)" #filters="ngForm">
          <h5 class="col p-3">Location</h5>
          <div class="form-group">
            <label for="Country">Country</label>
            <input type="text" ngModel class="form-control" id="Country" name="country" placeholder="Country">
          </div>
          <div class="form-group">
            <label for="City">City</label>
            <input type="text" ngModel class="form-control" id="City" name="city" placeholder="City">
          </div>

          <h5 class="col p-3">Price</h5>
          <div class="row">
            <div class="col-6 form-group">
              <input type="text" ngModel class="form-control" placeholder="From" id="minprice" name="MinPrice">
            </div>
            <div class="col-6 form-group">
              <input type="text" ngModel class="form-control" placeholder="To" id="maxprice" name="MaxPrice">
            </div>
          </div>
          <hr>
          <div class="row justify-content-start mt-4">
            <button type="submit" class="btn btn-primary btn-block" style="margin-left: 5%; margin-right: 5%;"> Apply Filters </button>
          </div>
        </form>
        <!-- end of filters -->

      </div>
    </div>

    <div class="col-md-9">
      <div class="list-group">
        <div *ngIf="((ItemsObservable | async) | BrowsingFilter: filter_args) == false">
          <h5 class="row offset-2">We are terribly sorry... no results found for your search!</h5>
          <img class="row offset-3" src="../../../assets/logos/sorry_face.jpg" alt="sorry">
        </div>
        <app-item class="col p-3" style="padding-left: 0 !important" *ngFor="let item of returnedArray" [Item]="item"></app-item>
      </div>
    </div>

    <pagination class="offset-md-4"
      [totalItems]="Items.length" [itemsPerPage]="10" (pageChanged)="pageChanged($event)">
    </pagination>

  </div>
</div>
