<div class="container">
  <div class="row">
    <div class="col-md-7 offset-md-2">
      <h1 class="text-center mb-3 border border-primary rounded bg-light">New Auction</h1>

      <form [formGroup]="AuctionForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="Name">The Auctions Name</label>
          <input
            formControlName="name"
            class="shadow-sm"
            [ngClass]=" {'form-control': true, 'is-invalid': AuctionForm.get('name').invalid && AuctionForm.get('name').touched,
             'is-valid': AuctionForm.get('name').valid } "
            type="text"
            name="Name"
            id="Name">

          <small *ngIf="AuctionForm.get('name').errors?.required && AuctionForm.get('name').touched"
                 class="form-text invalid-feedback">Field is required</small>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-sm btn-primary" id="Dropdown" type="button" ngbDropdownToggle>Select Cateogry</button>
                <div ngbDropdownMenu aria-labelledby="Dropdown">
                  <button
                    *ngFor="let category of (state$ | async).Categories"
                    type="button"
                    ngbDropdownItem
                    id="{{category.id}}"
                    class="p-1"
                    (click)="onSelectCategory(category)"
                  >{{category.name}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="categorySelected">
          <div class="row">
            <div class="col-12">
              <div class="form-check form-check-inline"
                   *ngFor="let SubCategory of (SubCategoriesLoaded)">
                <button class="btn btn-sm btn-outline-secondary m-1"
                        [ngClass]="{active: isSelected(SubCategory)}"
                        (click)="ToggleSubcategory(SubCategory, sub)"
                        type="button" #sub>{{SubCategory.name}}</button>
              </div>
            </div>

          </div>
        </div>

        <div class="form-group mt-2">
          <div>
            <button class="btn btn-outline-primary" type="button"
                    (click)="ToggleBuyPrice()">Toggle Buy Price</button>
          </div>

          <div *ngIf="SetBuyPrice">
            <label for="BuyPrice">The price a user can buy a product instantly</label>
            <div class="input-group">
              <input
                class=" shadow-sm form-control"
                formControlName="BuyPrice"
                id="BuyPrice"
                type="number"
                name="BuyPrice"
                [ngClass]=" {'is-invalid': AuctionForm.get('BuyPrice').invalid && AuctionForm.get('BuyPrice').touched,
                    'is-valid': AuctionForm.get('BuyPrice').valid } "
              >
              <div class="input-group-append">
                <span class="input-group-text">&euro;</span>
              </div>
              <small *ngIf="AuctionForm.get('BuyPrice').errors?.required && AuctionForm.get('BuyPrice').touched"
                     class="form-text invalid-feedback">Field is required</small>

              <small *ngIf="AuctionForm.get('StartingBid').errors?.pattern && AuctionForm.get('BuyPrice').touched"
                     class="form-text invalid-feedback">Enter only positive amount</small>
            </div>
          </div>
        </div>

        <div class="form-group">
            <label for="FirstBid">The Starting Bid of the Auction</label>
            <div class="input-group">
              <input
                class="form-control shadow-sm"
                formControlName="StartingBid"
                type="number"
                id="FirstBid"
                name="FirtsBid"
                [ngClass]="
                {'is-invalid': AuctionForm.get('StartingBid').invalid && AuctionForm.get('StartingBid').touched,
                  'is-valid': AuctionForm.get('StartingBid').valid } ">
              <div class="input-group-append">
                <span class="input-group-text">&euro;</span>
              </div>

              <small *ngIf="AuctionForm.get('StartingBid').errors?.required && AuctionForm.get('StartingBid').touched"
                     class="form-text invalid-feedback">Field is required</small>
              <small *ngIf="AuctionForm.get('StartingBid').errors?.pattern && AuctionForm.get('StartingBid').touched"
                     class="form-text invalid-feedback">Enter only positive amount</small>

            </div>
          </div>

        <div class="form-group">
          <label for="Description">Auction Description</label>

          <textarea formControlName="Description"
                    class="shadow-sm"
                    id="Description"
                    rows="10"
                    cols="10"
                    [ngClass]=" {'form-control': true, 'is-invalid': AuctionForm.get('Description').invalid && AuctionForm.get('Description').touched,
                    'is-valid': AuctionForm.get('Description').valid } "
          ></textarea>

          <small *ngIf="AuctionForm.get('Description').errors?.required && AuctionForm.get('Description').touched"
                 class="form-text invalid-feedback">Field is required</small>
        </div>

        <div class="form-group" formGroupName="Location">
          <app-open-map (GetLat)="Setlat($event)" (GetLot)="Setlot($event)"></app-open-map>
        </div>

        <div class="form-group" formGroupName="StartDate">

          <label>Starting Date and Time</label>
          <div class="row">

            <div class="col-md-6">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  formControlName="STDate"
                  ngbDatepicker
                  [minDate]="{year:CurrDate.getFullYear(), month:CurrDate.getMonth()+1 , day: CurrDate.getDate()}"
                  #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>

            <div class="col-md-6">
            <ngb-timepicker formControlName="STTime" [spinners]="false"></ngb-timepicker>
            </div>
          </div>

          <small
            *ngIf="AuctionForm.get('StartDate').errors?.InvalidStart"
            class="text-danger  text-center">
            Invalid Date
          </small>
        </div>

        <div class="form-group" formGroupName="EndDate">

          <label>End Date and Time</label>
          <div class="row">

            <div class="col-md-6">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  formControlName="ENDate"
                  ngbDatepicker
                  [minDate]="{year:CurrDate.getFullYear(), month:CurrDate.getMonth()+1 , day: CurrDate.getDate()}"
                  #de="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="de.toggle()" type="button"></button>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <ngb-timepicker formControlName="ENTime" [spinners]="false"></ngb-timepicker>
            </div>
          </div>

          <small
            *ngIf="AuctionForm.get('EndDate').errors?.InvalidEnd"
            class="text-danger  text-center">
            Invalid Date
          </small>
        </div>

        <div class="form-group" formArrayName="Image">
          <label>Choose Image</label>
          <div  class="row mb-3" *ngFor=" let ImageCrl of getControlsImages(); let i = index">

            <div class="col-sm-10">
              <input
                type="file"
                class="form-control-file"
                (change)="onFileChange($event,i)"
                id="Image">
            </div>

            <div class="col-sm-2">
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDeleteImage(i)">X</button>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-12">
              <button type="button" class="btn btn-block  btn-outline-primary" (click)="onAddImage()">Add Image</button>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-block btn-outline-success mb-3" type="submit"
                    [disabled]="AuctionForm.invalid">Save Auction</button>
          </div>

          <div class="col-md-6">
            <button class="btn btn-block btn-outline-danger mb-3" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>




</div>

