.logo {
    float: left;
}

.upper_grid {
    display: grid;
    grid-template-columns: 90% 10%;
}

.container1 {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 2%;
    margin-right: 2%;
}

.navbar_grid {
    padding: 2px;
}

.navbar-nav {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.nav-item {
    margin-right: 4em;
}

.accounts {
    position: relative;
    display:grid;
    grid-template-columns: 50% 50%;
    padding: 1em;
    margin-top: auto;
    margin-bottom: 0px;
}

.search_bar {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.search_button {
    margin-left: 2px;
    width: 10%;
    display: flex;
    border-radius: 5px;
    background-color: #004bef;
    box-sizing: content-box;
}

.card-group {
    margin-top: 5%;
}

.card {
    padding: 1em;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #297bef;
    border-radius: 10px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.blue-border {
    border: 1px solid #297bef;
}

.btn btn-indigo btn-rounded btn-sm my-0 waves-effect waves-light {
    display: flex;
    width: 100%;
}
