<div class="row">
  <div class="col-12 m-5">
    <h4 class="text-center"> User Detail</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Username: {{(usersState | async).users[index].Username}}</li>
      <li class="list-group-item"> Password: {{(usersState | async).users[index].Password}}</li>
      <li class="list-group-item"> Email: {{(usersState | async).users[index].Email}}</li>
      <li class="list-group-item"> First Name: {{(usersState | async).users[index].FirstName}}</li>
      <li class="list-group-item"> Last Name: {{(usersState | async).users[index].LastName}}</li>
      <li class="list-group-item"> Country: {{(usersState | async).users[index].Country}}</li>
      <li class="list-group-item"> City: {{(usersState | async).users[index].City}}</li>
      <li class="list-group-item"> Address: {{(usersState | async).users[index].Addresss}}</li>
      <li class="list-group-item"> Afm : {{(usersState | async).users[index].Arf}}</li>
      <li class="list-group-item"> Bidder Rating : {{(usersState | async).users[index].BidderRating}}</li>
      <li class="list-group-item"> Seller Rating : {{(usersState | async).users[index].SellerRating}}</li>
      <li class="list-group-item fa-pull-left">
        <div class="fa-pull-left pt-2">
          Approved State : {{(usersState | async).users[index].IsApproved == false ? 'Pending' : 'Approved'}}
        </div>


        <div *ngIf="(usersState | async).users[index].IsApproved === false" class="fa-pull-right">

          <button class="btn btn-success btn-sm m-1" (click)="onApprove()"> Approve</button>
          <button class="btn btn-danger btn-sm m-1" (click)="onDecline()">Decline</button>
        </div>

      </li>
    </ul>
  </div>
</div>
