<div class="row">
  <div class="col-12 m-5">
    <h4 class="text-center"> User Detail</h4>
    <ul class="list-group list-group">
      <li class="list-group-item"> Username: {{CurrentUser.username}}</li>
      <li class="list-group-item"> Email: {{CurrentUser.email}}</li>
      <li class="list-group-item"> First Name: {{CurrentUser.firstName}}</li>
      <li class="list-group-item"> Last Name: {{CurrentUser.lastName}}</li>
      <li class="list-group-item"> Country: {{CurrentUser.country}}</li>
      <li class="list-group-item"> City: {{CurrentUser.city}}</li>
      <li class="list-group-item"> Address: {{CurrentUser.address}}</li>
      <li class="list-group-item"> Phone Number: {{CurrentUser.telephoneNum}}</li>
      <li class="list-group-item"> Afm : {{CurrentUser.afm}}</li>
      <li class="list-group-item"> Bidder Rating :
          <rating [max]="5" [readonly]="true" [(ngModel)]="CurrentUser.bidderRating"></rating>
      </li>

      <li class="list-group-item"> Seller Rating :
        <rating [max]="5" [readonly]="true" [(ngModel)]="CurrentUser.sellerRating" ></rating>

      </li>
      <li class="list-group-item fa-pull-left">
        <div class="fa-pull-left pt-2">
          Approved State : {{(usersState | async).users[index].isApproved == 'N' ? 'Pending' : 'Approved'}}
        </div>



        <div *ngIf="(usersState | async).users[index].isApproved === 'N'" class="fa-pull-right">
          <button class="btn btn-success btn-sm m-1" (click)="onApprove()"> Approve</button>
          <button class="btn btn-danger btn-sm m-1" (click)="onDecline()">Decline</button>
        </div>

      </li>
    </ul>
  </div>
</div>
