<div class="card">
  <div class="image_container make_pointer">
    <img class="card-img-top img-fluid category_image"
         [src]="this.dom.bypassSecurityTrustUrl('data:image/jpg;base64,' + Item.imageUrl)">
    <div class="text_overlay" (click)="shop_byCat(Item.id)">
      <div class="category_text">See All >></div>
    </div>
  </div>
  <div class="card-body" style="padding: 0;">
    <a style="cursor: pointer;">
      <h5 class="card-title pt-3 pl-3">{{Item.name}}</h5>
    </a>
    <ul class="list-group list-group-flush">
      <app-home-subcategories [Subcategory]="subCat"  *ngFor="let subCat of Item.SubCategories "></app-home-subcategories>
    </ul>
  </div>
</div>


