<div class="navbar_grid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse justify-content-md-center" id="main_navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Home</a>
                <a class="nav-item nav-link" href="#">Technology</a>
                <a class="nav-item nav-link" href="#">Clothing</a>
                <a class="nav-item nav-link" href="#">Cars</a>
                <a class="nav-item nav-link" href="#">Toys</a>
            </div>
        </div>
    </nav>
</div>