.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.filters {
  background-color: #f1f5f6;
}

.card-img-top {
  max-height: 250px;
  box-sizing: border-box;
}

.card-link {
  color: #387f93;
}

.card-link:hover {
  color: #0a1059;
}

.list-group-item:hover {
  background-color: #ededed;
}


.login-overlay{
  background-color: rgba(152, 167, 188, 0.8);
  border: 2px solid white;
  -webkit-box-shadow: 0px 26px 25px -10px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 26px 25px -10px rgba(0,0,0,0.48);
  box-shadow: 0px 26px 25px -10px rgba(0,0,0,0.48);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.make_pointer {
  cursor: pointer;
}

.category_dropdown {
  cursor: pointer;
}

.category_dropdown:hover {
  color: white !important;
}

.category_image {
  display:block;
}

.image_container {
  position: relative;
}

.image_container:hover .text_overlay{
  opacity:0.7;
}

.text_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #DFDFDF;
}

.category_text {
  color: #292929;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.item_box {
  cursor: pointer;
  color: #747474 !important;
}

.shopbycard:hover {
  background-color: #dadada;
}

.thumbs {
  margin-top: 3%;
  max-height: 100px;
}

.thumbs a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #e2e2e3;
  display: block;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
}

.thumbs a.active {
  border-color: #086fcf;
}

.thumbs a.active:hover {
  border-color: #086fcf;
}

.thumbs a:hover {
  border-color: #b5b6bd;
}

.thumb_img_container {
  display: block;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  margin-top: 10px;
}

.big {
  width: 100%;
  float: right;
  margin-right: 0;
  max-height: 400px;
}

.thumb_img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: block;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.thumb_img:hover {
  opacity: 0.7;
}

.img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: 400px;
  display: block;
  object-fit: contain;
  -moz-transition: all 600ms ease-out 0s;
  -o-transition: all 600ms ease-out 0s;
  -webkit-transition: all 600ms ease-out;
  -webkit-transition-delay: 0s;
  transition: all 600ms ease-out 0s;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: transparent no-repeat center center;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  border: 1px solid #e2e2e3;
  opacity: 1;
}

.big .img.animate {
  -moz-transition: all 0ms ease-out 0s;
  -o-transition: all 0ms ease-out 0s;
  -webkit-transition: all 0ms ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0ms ease-out 0s;
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  opacity: 0;
}

.left-col {
  margin-left: 10%;
}

h4 {
  font: "Bookman";
  color: #070412;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

.icon-next {
  background-color: #3c4a68;
  cursor: pointer;
}

.icon-prev {
  background-color: #3c4a68;
  cursor: pointer;
}

.carousel-indicators li{
  background-color: #3c4a68;
}



