
<div class="col mt-3">
  <div class="jumbotron  m-0 text-center text-white">
    <h1 class="display-4">Welcome To E-Bidder!</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus perspiciatis cum vitae, modi hic?</p>
    <hr>
    <p>SingUp Now   <strong>For free</strong> </p>
    <a class="btn btn-primary btn-block" routerLink="login">Login</a>
    <a class="btn btn-primary btn-block" routerLink="singup">Sign Up</a>
    <a class="btn btn-primary btn-block" (click)="GuestLogin()">Continue As Guest</a>
  </div>
</div>
