<div class="container">

  <div class="row mt-4">
    <div class="col-12">
      <button class="btn btn-block btn-primary" (click)="AdminLogout()">Logout</button>
    </div>

    <div class="col-md-12 mt-1">
      <button class="btn btn-block btn-primary" (click)="OpenModal(Export)">Get all auctions</button>
    </div>



  </div>

  <div class="row">
    <div class="col-md-5">
      <app-user-list></app-user-list>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>


  <ng-template #Export>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Choose Type of file to be exported</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">

        <div class="col-md-6 mt-1">
          <button class="btn btn-block btn-primary" type="button" (click)="getXml()">Download XML</button>
        </div>

        <div class="col-md-6 mt-1">
          <button class="btn btn-block btn-primary" type="button" (click)="getJson()">Download JSON</button>
        </div>
      </div>
    </div>
  </ng-template>

</div>
